.menu-button {
    font-size: 30px;
    background-color: #3e2723;
    color: #ffffff;
    border-width: 2px;
    border-color: #d4af37;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
}

.menu-button:hover {
    background-color: #d4af37;
    color: #3e2723;
}
